html,
body {
    height: 100%;
}

.wrapper {
    display: grid;
    min-height: 100%;
    grid-template-columns: minmax(24px, 1fr) minmax(auto, 1200px) minmax(24px, 1fr);
    grid-template-rows: minmax(80px, auto) 1fr minmax(60px, auto);
    grid-template-areas:
        ". header ."
        ". main ."
        ". footer .";
}

.characters_container {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 26px;
    row-gap: 50px;
    margin-top: 72px;
}

.character_item {
    display: flex;
    flex-direction: column;
}



.characterImage {
    width: 300px;
}

/*----РЕЙТИНГ----*/
.rating {
    display: flex;
    align-items: flex-end;
    font-size: 40px;
    line-height: 0.75;
    transition: opacity 0.3s ease 0s;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
    cursor : pointer;
}

.rating__body {
    position: relative;
}

.rating__body::before {
    content: "★★★★★★★★★★";
    display: block;
}

.rating__active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating__active::before {
    content: "★★★★★★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #ffd300;
}

.rating__items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.rating__item {
    flex: 0 0 7.5%;
    height: 100%;
    opacity: 0;
}

.rating__value {
    font-size: 50%;
    line-height: 1;
    padding: 0px 0px 0px 10px;
}